.seccionbotones {
  margin-top: 40px;
  border: 10px;

}
  .btn-boton1 {
    font-family: $tipoweb;
    background-color: $colorceleste;
    color: #fff;
  }
  .btn-boton2 {
    font-family: $tipoweb;
    background-color: $colorrosado;
    color: #fff;
  }
