body {
  font-family: 'Palanquin', sans-serif;
}
.titulovideo {
  margin-left: 65px;
}
.tituloautora {
  margin-top: 40px;
  margin-left: 25px;

}

h4 {
  font-family: 'Palanquin', sans-serif;
  font-weight: 700;
}

h5 {
  font-family: 'Palanquin', sans-serif;
  font-weight: 700;
}
