body {
  font-family: $tipoweb;
}
.titulovideo {
  margin-left: 65px;
}
.tituloautora {
  margin-top: 20px;
  margin-left: 25px;

}

h4 {
  font-family: $tipoweb;
  font-weight: 700;
}

h5 {
  font-family: $tipoweb;
  font-weight: 700;
  padding-top: 15px;
}

.tipofiguras {
  font-size: 22px;
  padding: 10px;
}
