* {
  padding: 0px;
  margin: 0px;
  max-width: 1350px;
  }

  .flex-container {
    padding: 15px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin-left: 25px;
  }

  .flex-container {
    div {
      width: 280px;
      margin: 20px;
      line-height: 40px;
      text-align: left;
    }

  }

.anchoimagen {
  width: 100%;
}
